body
{
	background-color:gainsboro;
	font: 85% courier;
/* 	font: 82.5% "Trebuchet MS", sans-serif;  */
}

pre
{
/*    padding-top:20px; */
	margin:0px;
	padding:0px;
	background-image: url("/baracus/images/bg-grad.jpg");
	background-attachment: fixed;	   
}
