body
{
    background-color:GainsBoro;
    font-size:9pt;
}
#config font
{
    font-size:9pt;
}
#textEdit
{
    position:absolute;
    top:     40;
    left:    10;
    width:  600;
    height: 580;
    border:2px solid #B2D68C;
    padding-top:5;
}

#config #history
{
    position:absolute;
    top:     10;
    left:    12;    
    font-size:12pt;
    color: black;
}

#config font.name
{
    position:absolute;
    top:      5;
    left:     7;
}
#config img.search
{
	position:absolute;
	top:     22;
	left:     7;
	height:  20;
	background-color:white;
}
#config input.filter
{
	position:absolute;
	top:     22;
	left:    30;
	width:  220;
	height:  20;
	background-color:white;
    color:black;
/*	color: #6DB33F; */
}
#config img.sweep
{
	position:absolute;
	top:     22;
	left:   253;
	height:  20;
	background-color:white;
}
#config select.name
{
    position:absolute;
    top:     46;
    left:     5;
    width:  270;
    color:#6DB33F;
} 

#config input.nname
{
    position:absolute;
    top:     20;
    left:   285;
    width:  200;
}

#config font.version
{
    position:absolute;
    top:     47;
    left:   287;
}
#config select.version
{
    position:absolute;
    top:     62;
    left:   285;
    width:  200;
    color:#6DB33F;
} 
#config input.submit
{
    position:absolute;
    top:     20;
    left:   495;
    width:  100;
    padding-right:10;
    color:  green;
}
#config input.submitt
{
    position:absolute;
    top:     45;
    left:   495;
    width:  100;
    padding-right:10;
    color:green;
}

#config input.submitd
{
    position:absolute;
    top:     70;
    left:   495;
    width:  100;
    padding-right:10;
    color: green;
}

#config font.dataShort
{
    position:absolute;
    top:    280;
    left:     5;
}

#textEdit textarea.short
{
    position:absolute;
    top:    300;
    left:     5;
    width:  590;
    height: 280;
    background-color: white;
    color:black;
    margin:0;
/*	border: 2px; */
    padding:0;
}

#config font.data
{
    position:absolute;
    top:    165;
    left:     5;
}

#textEdit textarea
{
    position:absolute;
    top:    185;
    left:     5;
    width:  590;
    height: 395;
    background-color: white;
    color:black;
    margin:0;
/*	border: 2px; */
    padding:0;
}

