/********************************************************************/
/* Main Menu 														*/
/********************************************************************/
#mmenu
{
    left:0px;
    border:2px solid black;
    position:absolute;
    width:240;
    height:600;
	top:150px;
	left:10px;
}
#mmenu a
{
    display:block;
    padding-top:11px;
    padding-bottom:11px;
    text-decoration:none;
    font-size:11pt;
    color:gray;
    font-variant:small-caps;
    font-weight:normal;
    font-family: serif;
}
#mmenu a:link
{

}
#mmenu a:visited
{

}
#mmenu a:hover
{
    color:6DB33F;
    background-color: #efefef;
}
#mmenu li
{
    border-bottom:1px solid #cdcdcd;
    width:185px;
    list-style-type: none;
}
#mmenu ul
{
       
}
/* Current item in main menu */
#cur
{
	color:6DB33F;
    font-weight:bold;
    text-decoration:none;
}

/********************************************************************/
/* Content Section
/********************************************************************/
#content 
{
	width:600;
	position:absolute;
	top:150px;
	left:300px;
	height:80%;
	color:6A737B;
}
#content li
{
	padding-bottom:10px;
	font-family:arial;
	font-size:11pt;
}
#pcontent li
{
	padding-bottom:10px;
	font-family:arial;
	font-size:11pt;
	list-style-type: none;
  	list-style-image: none;
	margin: 0 0 0 0;
}


/********************************************************************/
/* Header / Line / Title / Subtitle
/********************************************************************/
#line
{
	position:absolute;
	top:60px;
	left:10px;
	width:900;
	margin-top:20px;
}
#logo img
{
	height:75;	
	position:absolute;
	top:60px;
	left:800px;
}
#nvlogo img
{
	width:100;	
	position:absolute;
	top:700px;
	left:120px;
	border:none;
}
#title
{
	position:absolute;
	top:20px;
	left:20px;
	color:6DB33F;
    font-size: 30pt;
}
#subtitle
{
	
	color:6A737B;
	font-size: 12pt;
	position:absolute;
	top:30px;
	left:770px;
}
#geeko img
{
	width:150;
	position:absolute;
	left:800;
	top:630;
}

/* OUTPUT */
#output
{
	width:600;
	height:600;
	background-color: white;
	color:6DB33F;
	position:absolute;
	top:0px;
	left:0px;
	border:5px solid #B2D68C;
	font-size:9pt;
}
#output textarea
{
	background-color: white;
	position:absolute;
	left:0;
	top:0;
	font-size:8pt;
	width:590;
	height:590;
	color:black;
	padding-left:10px;
	border:0;
}
#output h1
{
	width:300;
	position:absolute;
	left:0;
	top:0;
	font-size:13pt;
	color:#B2D68C;
    display:inline;
    margin-left:10px;
}
#output h3
{
	width:300;
	position:absolute;
	left:480;
	top:0;
	font-size:10pt;
	color:red;
    display:inline;
    margin-left:10px;
	text-decoration:blink;
    font-variant:small-caps;
    font-weight:normal;
}
#output input
{
	position:absolute;
	left:10;
	top:565;
	width:100;
	color:#6DB33F;
}

/* DEBUG */
#status
{
	width:280;
	height:290;
	position:absolute;
	top:320px;
	left:300px;
	border:2px dotted #B2D68C;
}
#status textarea
{
	background-color: E4E5E6;
	position:absolute;
	left:0;
	top:0;
	font-family:arial;
	font-size:9pt;
	width:280;
	height:290;
	color:black;
	padding-left:10px;
}

/* DEBUG */
#statusW
{
	width:580;
	height:280;
	position:absolute;
	top:320px;
	left:0px;
	border:2px dotted black;
}
#statusW textarea
{
	background-color: E4E5E6;
	position:absolute;
	left:0;
	top:0;
	font-family:arial;
	font-size:9pt;
	width:580;
	height:280;
	color:black;
	padding-left:10px;
}

#inStatus
{
	color:blue;
}
#inStatus textarea
{
	background-color: E4E5E6;
	position:absolute;
	left:0;
	top:0;
	font-family:arial;
	font-size:9pt;
	width:280;
	height:290;
	color:black;
	padding-left:10px;
}


/* ERROR */
#error
{
	width:280;
	height:290;
	position:absolute;
	top:320px;
	left:300px;
	border:2px dotted #B2D68C;
	color:red;
}
#error textarea
{
	background-color: E4E5E6;
	position:absolute;
	left:0;
	top:0;
	font-family:arial;
	font-size:9pt;
	width:280;
	height:290;
	color:red;
	padding-left:10px;
}