/********************************************************************/
/* Forms															*/
/********************************************************************/
body
{
	background-color:#d8d8d8;
}
#f-labels font.history
{
	position:absolute;
	top:10;
	left:12;	
	font-size:12pt;
	color:white;
}
#f-labels h1
{
	color:black;
    font-size: 8pt;
    font-weight:bold;
    display:inline;
    margin-left:10px;
}
#f-labels h1.disabled
{
	color:grey;
    font-size: 8pt;
    font-weight:bold;
    display:inline;
    margin-left:10;
}
#f-labels h1.label
{
	position:absolute;
	top:0px;
	left:-10px;
	color:#455560;
    font-size: 13pt;
    font-weight:bold;
    display:inline;
}
#f-labels h3
{
	color:#6A737B;
    font-size: 10pt;
    font-weight:bold;
    display:inline;
    margin-left:20;
}

#f-labels h4
{
	color:white;
    font-size: 8pt;
    font-weight:bold;
    display:inline;
    margin-left:5;
}
#f-labels select
{
	width:200px;
	color:#6DB33F;
	margin-left:20;
	margin-top:5;
}
#f-labels input.text
{
	width:200px;
	margin-left:20;
	margin-top:5;
}
#f-labels input.button
{
	width:100px;
	position:absolute;
	left: 130px;
	top: 115px;
}

#f-labels option.bad
{
	color:red;
	font-size:8pt;
}

#f-labels font.sadd
{
	margin-left:2px;
	font-size:10pt;
}
#f-labels input.sadd
{
	margin-left:20pt;
}
#radio
{
	width:200px;
	position:absolute;
	left:20px;
	top:165px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:10pt;
}
#subnote
{
	color:red;
}

#block1
{
	width:260px;
	height:130px;
	position:absolute;
	top:10px;
	left:20px;
	border:2px solid #B2D68C;
	padding-top:3;
}
#block1 input
{
	width:100;
}

#block2
{
	width:260;
	height:430;
	position:absolute;
	top:160px;
	left:20px;
	border:2px solid #B2D68C;
	padding-top:10;
}
#block2 input.button
{
	width:100px;
	position:absolute;
	left: 120px;
	top: 400px;
}

#block3
{
	width:260;
	height:190;
	position:absolute;
	top:10px;
	left:320px;
	border:2px solid #B2D68C;
	padding-top:10;
}
#block3 input.button
{
	width:100px;
	position:absolute;
	left: 130px;
	top: 115px;
}

#block3a
{
	width:260;
	height:100;
	position:absolute;
	top:220px;
	left:320px;
	border:2px solid #B2D68C;
	padding-top:10;
}

#block4
{
	width:260;
	height:30;
	position:absolute;
	top:340px;
	left:320px;
	text-align:bottom;
	border:2px solid #B2D68C;
	padding-top:10;
}
#block4 input
{
	color:green;
	width:100;
	position:absolute;
	left:130;
}
#block4 input.clear
{
	color:red;
	width:100;
	position:absolute;
	left:20;
}

#blockb
{
	width:260px;
	height:168px;
	position:absolute;
	top:155px;
	left:20px;
	border:2px solid #B2D68C;
	padding-top:10;
}
#blockb input.button
{
	width:100px;
	position:absolute;
	left: 125px;
	top: 115px;
}

#blockc
{
	width:260;
	height:125;
	position:absolute;
	top:348px;
	left:20px;
	border:2px solid #B2D68C;
	padding-top:10;
}
#blockc input.button
{
	width:100px;
	position:absolute;
	left: 130px;
	top: 115px;
}
#blockd
{
	width:260;
	height:125;
	position:absolute;
	top:495px;
	left:20px;
	border:2px solid #B2D68C;
	padding-top:10;
}

#blockf
{
	width:260;
	height:150;
	position:absolute;
	top:150px;
	left:320px;
	background-color: #B2D68C;
	padding-top:10;
}
#blockW
{
	width:580;
	height:250;
	position:relative:
	left:30px;
	top:30px;
	border:2px solid #B2D68C;
	padding-top:10;
	margin-top:50px
}
#blockW select
{
	width:540;
}
#blockW font.select
{
	color:white;
	font-size:9pt;
	margin-left:25;
}

#blockY
{
	width:260;
	height:220;
	position:absolute;
	top:10px;
	left:20px;
	border:2px solid #B2D68C;
	padding-top:10;
}
#blockY input.button
{
	width:100px;
	position:absolute;
	left: 130px;
	top: 115px;
}

#blockZ
{
	width:260;
	height:30;
	position:absolute;
	top:255px;
	left:20px;
	text-align:bottom;
	border:2px solid #B2D68C;
	padding-top:10;
}
#blockZ input
{
	color:green;
	width:100;
	position:absolute;
	left:130;
}
#blockZ input.clear
{
	color:red;
	width:100;
	position:absolute;
	left:20;
}

#result
{
	position:absolute;
	left:0;
	top:0;
	width:600;
	height:600;
	color:green;
}

#reslut i
{
	color:red;
}
#cmd
{
	color:6A737B;
	font-size:20pt;
}

#reslut i
{
	color:red;
}
#cmd
{
	color:6A737B;
	font-size:20pt;
}

.disable 
{
	width:200px;
	margin-left:20;
	margin-top:5;
	background-color:lightgrey;	
}

.enable 
{
	width:200px;
	margin-left:20;
	margin-top:5;
	background-color:white;	
}
