body
{
	background-color:Gainsboro;
}
#main
{
	width:600;
	height:580;
	position:absolute;
	top:80px;
	left:10px;
	padding-top:10;
	border:2px solid #B2D68C;
}
#config #list
{
        position:absolute;
        top:20;
        left:9;
}
#config input.filter
{
	position:absolute;
	left:352;
	top:10;
	width:215;
	height:20;
	border:none;
	background-color:white;
	color: #0B610B;
}
#config input.createname
{
        position:absolute;
        left:120;
        top:10;
        width:315;
        height:20;
        border:none;
        background-color:white;
        color: #0B610B;
}
#config input.createip
{
        position:absolute;
        left:120;
        top:35;
        width:315;
        height:20;
        border:none;
        background-color:white;
        color: #0B610B;
}
#config input.createid
{
        position:absolute;
        left:120;
        top:60;
        width:315;
        height:20;
        border:none;
        background-color:white;
        color: #0B610B;
}
#config select.createtype
{
        position:absolute;
        left:120;
        top:85;
        width:315;
        height:20;
        border:none;
        background-color:white;
        color: #0B610B;
}
#config input.createuser
{
        position:absolute;
        left:120;
        top:110;
        width:315;
        height:20;
        border:none;
        background-color:white;
        color: #0B610B;
}
#config input.createpasswd
{
        position:absolute;
        left:120;
        top:135;
        width:315;
        height:20;
        border:none;
        background-color:white;
        color: #0B610B;
}
#config input.createentry
{
        position:absolute;
        left:9;
        top:170;
        width:115;
        height:20;
        border:none;
        background-color:white;
        color: #0B610B;
}
#config input.submit
{
	float:right;
	margin-top:305;
	margin-right:10px;
	padding-right:10;
	padding-right:10;
	width: 100px;
}
#config img.sweep
{
	position:absolute;
	left:567;
	top:10;
	height:20;
	background-color:white;
}
#config img.search
{
	position:absolute;
	left:333;
	top:10;
	height:20;
	background-color:white;
}

#config #histbar
{
	position:absolute;
	top:50;
	left:10;	
	font-size:12pt;
	color:white;
}
#config font.clink
{
        position:absolute;
        top:15;
        left:9;
}
#config font.createname
{
	position:absolute;
	top:15;
	left:9;
}
#config font.createip
{
        position:absolute;
        top:40;
        left:9;
}
#config font.createid
{
        position:absolute;
        top:65;
        left:9;
}
#config font.createtype
{
        position:absolute;
        top:90;
        left:9;
}
#config font.createuser
{
        position:absolute;
        top:115;
        left:9;
}
#config font.createpasswd
{
        position:absolute;
        top:140;
        left:9;
}
#config font.filter
{
        position:absolute;
        top:15;
        left:300;
}
#config font
{
	font-size:9pt;
}

