/********************************************************************/
/* Tab Pages 														*/
/********************************************************************/
body
{ 
	behavior:url("/baracus/script/csshover3.htc");
	width:30;
}

div.menu ul
{ 
	position: absolute;
	top: 0px;
	left: 0px;
	width: 110%; 
	height: 43px; 
	background:url("/baracus/images/menu-bg.gif") top left repeat-x;
	font-size: 0.8em; 
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-weight: bold;
	list-style-type: none;
	margin:0px;
	padding:0px;
}

div.menu li
{
	float: left;
	margin: 0 0 0 5px;
}

div.menu li a.outer
{ 
	height: 23px;
	color: #777;
	text-decoration: none;
	display: block;
	float: left;
	line-height: 2;
	padding: 10px 15px;
}

div.menu ul li a.current
{ 
	height: 23px;
	text-decoration: none;
	display: block;
	float: left;
	line-height: 2;
	color: #FFF;
	padding: 10px 15px;
	background-color:red;
	background:url("/baracus/images/current-bg.gif") top left repeat-x;
}

div.menu ul li a:hover
{ 
	color: #333;
}

div.menu div.submenu
{
    display:none;
    margin-top:42px;
	background-color:#88ba3d;
	padding-bottom:10px;
	padding-top:5px;
	border:1px solid #d8d8d8;
}
div.menu div.submenu a
{
	color: white;
	text-decoration: none;
	display:block;
	margin:10px;
}
div.menu li:hover div.submenu
{ 
	display:block;
}

iframe#tabContent
{
	position: absolute;
	top: 40px;
	left: 0px;
	width:650;
	height:635;
	margin:0px;
	border:0px;
	background:#E4E5E6;
	background-color:transparent;
}

textarea.content
{
	position: absolute;
	top:0px;
	left: 0px;
	width:100%;
	height:575;
	border:0;
	color:green;
	font-weight: bold;
	font-size:8pt;
	padding:5px 0 0 5px;	
}

pre.content
{
	font-size: 0.7em;
	font-family: Courier New, Courier, Verdana, sans-serif;
	position: absolute;
	top:0px;
	left: 0px;
	padding:5px 5px 5px 5px;	
}

