Alias /%REPO% "/var/spool/baracus/byum/%REPO%"

<Directory "/var/spool/baracus/byum/%REPO%">
   Options Indexes FollowSymlinks MultiViews
   DirectoryIndex index.html
   AllowOverride Options
   Order allow,deny
   Allow from all
</Directory>

<Directory "/var/spool/baracus/byum/%REPO%/conf">
   Order allow,deny
   Deny from all
   Satisfy all
</Directory>

<Directory "/var/spool/baracus/byum/%REPO%/db">
   Order allow,deny
   Deny from all
   Satisfy all
</Directory> 
