DEFAULT install
PROMPT 0
TIMEOUT 0

LABEL install
        kernel __PXEKERNEL__
        append __BOOTARGS__ initrd=__PXEINITRD__ install=__TYPE__://__BUILDIP__/__BUILDROOT__/__OS__/__ARCH__/ autoyast=tftp://__BUILDIP__/__HEXIP__ textmode=1
