DEFAULT install
PROMPT 0
TIMEOUT 0

LABEL install
        kernel __PXEKERNEL__
        append __BOOTARGS__ initrd=__PXEINITRD__ install=__TYPE__://__BUILDIP__/__BUILDROOT__/__OS__/__SP__/__ARCH__/dvd1 autoyast=tftp://__BUILDIP__/__AUTOINST__ textmode=1
