## Hardware Options
##

[ibm-8832]
make=HS20
model=8832
vendor=IBM
description="IBM HS20 Blade"
bootArgs="acpi=on selinux=0 apm=off"
rootDisk=/dev/sda
rootPart=/dev/sda
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9:SLES10
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

[ibm-8839]
make=HS40
model=8839
vendor=IBM
description="IBM HS40 Blade"
bootArgs="acpi=on selinux=0 apm=off"
rootDisk=/dev/sda
rootPart=/dev/sda
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

[ibm-8840]
make=x346
model=8840
vendor=IBM
description="IBM x346"
bootArgs="acpi=on selinux=0 apm=off"
rootDisk=/dev/sda
rootPart=/dev/sda
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9:SLES9-64:SLES10-64
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

[ibm-8862]
make=x365
model=8862
vendor=IBM
description="IBM x365"
bootArgs="acpi=off selinux=0 apm=off"
rootDisk=/dev/sda
rootPart=/dev/sda
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

[ibm-8863]
make=x366
model=8863
vendor=IBM
description="IBM x366"
bootArgs="acpi=on selinux=0 apm=off"
rootDisk=/dev/sda
rootPart=/dev/sda
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9:SLES9-64
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

[ibm-7984]
make=x3455
model=7984
vendor=IBM
description="IBM x3455"
bootArgs="acpi=on selinux=0 apm=off"
rootDisk=/dev/sda
rootPart=/dev/sda
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9:SLES9-64
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

[ibm-7979]
make=x3650
model=7979
vendor=IBM
description="IBM x3650"
bootArgs="acpi=on selinux=0 apm=off"
rootDisk=/dev/sda
rootPart=/dev/sda
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9-64:SLES10-64
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

[ibm-7978]
make=x3550
model=7978
vendor=IBM
description="IBM x3550"
bootArgs="acpi=on selinux=0 apm=off"
rootDisk=/dev/sda
rootPart=/dev/sda
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9:SLES9-64:SLES10:SLES10-64
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

[ibm-7985]
make=x3655
model=7985
vendor=IBM
description="IBM x3655"
bootArgs="acpi=on selinux=0 apm=off"
rootDisk=/dev/sda
rootPart=/dev/sda
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9:SLES9-64:SLES10:SLES10-64
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

[ibm-8864]
make=x3850
model=8864
vendor=IBM
description="IBM x3850"
bootArgs="acpi=on selinux=0 apm=off"
rootDisk=/dev/sda
rootPart=/dev/sda
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9-64:SLES10-64
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

[ibm-7141]
make=x3850M2
model=7141
vendor=IBM
description="IBM x3850M2"
bootArgs="acpi=on selinux=0 apm=off"
rootDisk=/dev/sda
rootPart=/dev/sda
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES10-SP1:SLES10-SP1-64
addon="    <add-on>\\n     <add_on_products config:type=\"list\">\\n       <listentry>\\n         <media_url>nfs://172.26.106.21:/itg-ZEN_INT/linux-core/SLES10-ADDON/ARCH/SP1/</media_url>\\n         <product>SUSE_SLES_SP1</product>\\n         <product_dir>/</product_dir>\\n       </listentry>\\n       <listentry>\\n        <media_url>nfs://172.26.106.21:/itg-ZEN_INT/linux-core/SLES10-ADDON/ARCH/SDK/SP1</media_url>\\n        <product>SUSE-Linux-Enterprise-SDK-SP1</product>\\n        <product_dir>/</product_dir>\\n      </listentry>\\n      <listentry>\\n         <media_url>nfs://172.26.106.21:/itg-ZEN_INT/linux-core/SLES10-ADDON/ARCH/zlm-hp3-updates/</media_url>\\n         <product>ZLM-72IR1-Client</product>\\n         <product_dir>/</product_dir>\\n       </listentry>\\n     </add_on_products>\\n    </add-on> "
hwdriver="        <package>broadcom-bnx2-kmp-smp</package>"

[hp-dl380]
make=DL380
model=DL380
vendor=HP
description="HP PROLIANT DL380"
bootArgs="selinux=0 apm=off"
rootDisk=/dev/cciss/c0d0
rootPart=/dev/cciss/c0d0p
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9:SLES9-64
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

[hp-dl385]
make=DL385
model=DL385
vendor=HP
description="HP PROLIANT DL385"
bootArgs=acpi=on selinux=0 apm=off ethtool=\"-K eth0 tso off\"
rootDisk=/dev/cciss/c0d0
rootPart=/dev/cciss/c0d0p
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9:SLES9-64:SLES10:SLES10-64
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

[hp-dl580]
make=DL580
model=DL580
vendor=HP
description="HP PROLIANT DL580"
bootArgs="selinux=0 apm=off"
rootDisk=/dev/cciss/c0d0
rootPart=/dev/cciss/c0d0p
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9:SLES10
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

[hp-dl585]
make=DL585
model=DL585
vendor=HP
description="HP PROLIANT DL585"
bootArgs="acpi=on selinux=0 apm=off"
rootDisk=/dev/cciss/c0d0
rootPart=/dev/cciss/c0d0p
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9:SLES9-64:SLES10:SLES10-64
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

[hp-bl20]
make=BL20
model=BL20
vendor=HP
description="HP BL20 Blade"
bootArgs="selinux=0 apm=off"
rootDisk=/dev/cciss/c0d0
rootPart=/dev/cciss/c0d0p
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

[hp-bl40]
make=BL40
model=BL40
vendor=HP
description="HP BL40 Blade"
bootArgs="selinux=0 apm=off"
rootDisk=/dev/cciss/c0d0
rootPart=/dev/cciss/c0d0p
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

[dell-pe1850]
make=PE1850
model=PE1850
vendor=DELL
description="Dell PowerEdge 1850"
bootArgs="acpi=off selinux=0 apm=off"
rootDisk=/dev/sda
rootPart=/dev/sda
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

[dell-pe1950]
make=PE1950
model=PE1950
vendor=DELL
description="Dell PowerEdge 1950"
bootArgs="acpi=on selinux=0 apm=off"
rootDisk=/dev/sda
rootPart=/dev/sda
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9:SLES9-64:SLES10:SLES10-64
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

[dell-pe860]
make=PE860
model=PE860
vendor=DELL
description="Dell PowerEdge 860"
bootArgs="acpi=on selinux=0 apm=off"
rootDisk=/dev/sda
rootPart=/dev/sda
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9-64
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

[dell-sc1435]
make=SC1435
model=SC1435
vendor=DELL
description="Dell 1435"
bootArgs="acpi=off selinux=0 apm=off"
rootDisk=/dev/sda
rootPart=/dev/sda
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9:SLES10
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

[sun-x4600m2]
make=X4600
model=M2
vendor=SUN
description="Sun X4600 M2"
bootArgs="acpi=on selinux=0 apm=off"
rootDisk=/dev/sda
rootPart=/dev/sda
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9-64:SLES10-64
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

[kvm-sda]
make=KVM
model=KVM
vendor=KVM
description="KVM Virtual Machine (sda)"
bootArgs="acpi=on selinux=0 apm=off"
rootDisk=/dev/sda
rootPart=/dev/sda
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9-64:SLES10-64:SLES11-64
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

[kvm-hda]
make=KVM
model=KVM
vendor=KVM
description="KVM Virtual Machine (hda)"
bootArgs="acpi=on selinux=0 apm=off"
rootDisk=/dev/hda
rootPart=/dev/hda
pxeTemplate=pxetemplate-auto
yastTemplate=template.xml
oscert=SLES9-64:SLES10-64:SLES11-64
addon="<!--no addon -->"
hwdriver="<!--no hwdrivers -->"

