## Configuration file for available modules
## Modules are re-usable post install scripts
## 
## Configuration options
## name: name of the module
## mandatory: whether or not the module is mandatory
## interpreter: what interpreter to use - default is bash
##

#[PATCH]
#name=patch
#mandatory=no

#[PATTERN]
#name=pattern
#mandatory=no

#[PASSWD_CLEANUP]
#name=passwd_cleanup
#mandatory=yes
