## OS Options
##

[sles9-i586]
os=sles9
sp=sp4
description=SUSE Linux Enterprise 9 32bit
arch=i586
pxeKernel=linux.sles9-SP4
pxeInitrd=initrd.sles9-SP4
addon=no

[sles9-x86_64]
os=sles9
sp=sp4
description=SUSE Linux Enterprise 9 64bit
arch=x86_64
pxeKernel=linux.sles9-x86_64-SP4
pxeInitrd=initrd.sles9-x86_64-SP4
addon=no

[sles10-i586]
os=sles10
sp=sp2
description=SUSE Linux Enterprise 10 32bit
arch=i586
pxeKernel=linux.sles10
pxeInitrd=initrd.sles10
addon=no

[sles10-x86_64]
os=sles10
sp=sp2
description=SUSE Linux Enterprise 10 64bit
arch=x86_64
pxeKernel=linux.sles10-x86_64-SP2
pxeInitrd=initrd.sles10-x86_64-SP2
addon=no

[slert10-x86_64]
os=slert10
sp=sp2
description=SUSE Linux Enterprise Real Time 64bit
arch=x86_64
pxeKernel=linux.sles10-x86_64-SP2
pxeInitrd=initrd.sles10-x86_64-SP2
addon=yes
baseos=sles10

[sles10-MONO-x86_64]
os=sles10-MONO
sp=sp2
description=SUSE Linux Enterprise 10 SP2 with MONO 64bit
arch=x86_64
pxeKernel=linux.sles10-x86_64-SP2
pxeInitrd=initrd.sles10-x86_64-SP2
addon=yes
baseos=sles10

[sles11-x86_64]
os=sles11
sp=ga
description=SUSE Linux Enterprise 11 GA 64bit
arch=x86_64
pxeKernel=linux.sles11-x86_64-SPga
pxeInitrd=initrd.sles11-x86_64-SPga
addon=no

[sles11-HAE-x86_64]
os=sles11-HAE
sp=ga
description=SUSE Linux Enterprise 11 GA with High Availability Extension 64bit
arch=x86_64
pxeKernel=linux.sles11-x86_64-SPga
pxeInitrd=initrd.sles11-x86_64-SPga
addon=yes
baseos=sles11

[sles11-MONO-x86_64]
os=sles11-MONO
sp=ga
description=SUSE Linux Enterprise 11 GA with MONO 64bit
arch=x86_64
pxeKernel=linux.sles11-x86_64-SPga
pxeInitrd=initrd.sles11-x86_64-SPga
addon=yes
baseos=sles11
