<?xml version="1.0"?>
<!DOCTYPE profile>
<profile xmlns="http://www.suse.com/1.0/yast2ns" xmlns:config="http://www.suse.com/1.0/configns">
  <configure>
    <networking>
      <dns>
        <dhcp_hostname config:type="boolean">false</dhcp_hostname>
        <dhcp_resolv config:type="boolean">false</dhcp_resolv>
        <domain>__DNSDOMAIN__</domain>
        <hostname>__HOSTNAME__</hostname>
        <nameservers config:type="list">
          <nameserver>__DNS1__</nameserver>
        </nameservers>
        <searchlist config:type="list">
          <search>__DNSDOMAIN__</search>
        </searchlist>
      </dns>
      <interfaces config:type="list">
        <interface>
          <bootproto>STATIC</bootproto>
          <device>eth-id-__MAC__</device>
          <ipaddr>__IP__</ipaddr>
          <netmask>__NETMASK__</netmask>
          <network>__IP__</network>
          <lladdr>__MAC__</lladdr>
          <startmode>onboot</startmode>
        </interface>
      </interfaces>
      <managed config:type="boolean">false</managed>
      <!-- 
      <net-udev config:type="list">
        <rule>
          <name>eth0</name>
          <rule>ATTR{address}</rule>
          <value>__MAC__</value>
        </rule>
      </net-udev>
      -->
      <routing>
        <ip_forward config:type="boolean">false</ip_forward>
        <routes config:type="list">
          <route>
            <destination>default</destination>
            <device>-</device>
            <gateway>__GATEWAY__</gateway>
            <netmask>-</netmask>
          </route>
        </routes>
      </routing>
    </networking>
    <printer>
      <cups_installation config:type="symbol">server</cups_installation>
      <default></default>
      <printcap config:type="list"/>
      <server_hostname></server_hostname>
      <spooler>cups</spooler>
    </printer>
    <runlevel>
      <default>3</default>
    </runlevel>
    <user_defaults>
      <expire></expire>
      <group>100</group>
      <groups>dialout,uucp,video,audio</groups>
      <home>/home</home>
      <inactive>-1</inactive>
      <shell>/bin/bash</shell>
      <skel>/etc/skel</skel>
    </user_defaults>
    <users config:type="list">
      <user>
        <encrypted config:type="boolean">false</encrypted>
        <fullname>baracus</fullname>
        <gid>100</gid>
        <home>/home/baracus</home>
        <password_settings>
          <expire></expire>
          <flag></flag>
          <inact></inact>
          <max>99999</max>
          <min>0</min>
          <warn>7</warn>
        </password_settings>
        <shell>/bin/bash</shell>
        <uid>1000</uid>
        <user_password>baracus</user_password>
        <username>baracus</username>
      </user>
      <user>
        <encrypted config:type="boolean">true</encrypted>
        <fullname>root</fullname>
        <gid>0</gid>
        <home>/root</home>
        <password_settings>
          <expire></expire>
          <flag></flag>
          <inact></inact>
          <max>10000</max>
          <min>0</min>
          <warn></warn>
        </password_settings>
        <shell>/bin/bash</shell>
        <uid>0</uid>
        <user_password>N4sI4i2G6vjvI</user_password>
        <username>root</username>
      </user>
    </users>
  </configure>
  <install>
    <scripts>
      <post-scripts config:type="list">
      </post-scripts>
      <init-scripts config:type="list">
        <script>
          <filename>build_notify</filename>
          <source><![CDATA[sleep 60
wget http://__SERVERIP__/ba/built?uuid=__UUID__\&hostname=__HOSTNAME__]]></source>
        </script>
        __MODULE__
        <script>
          <filename>lsg_serial.sh</filename>
          <location>http://__SERVERIP__/baracus/lsg_serial.sh</location>
        </script>
      </init-scripts>
    </scripts>
    <bootloader>
      <activate config:type="boolean">false</activate>
      <device_map config:type="list">
        <device_map_entry>
          <firmware>(hd0)</firmware>
          <linux>__ROOTDISK__</linux>
        </device_map_entry>
      </device_map>
      <global config:type="list">
        <global_entry>
          <key>color</key>
          <value>white/blue black/light-gray</value>
        </global_entry>
        <global_entry>
          <key>default</key>
          <value config:type="integer">0</value>
        </global_entry>
        <global_entry>
          <key>timeout</key>
          <value config:type="integer">8</value>
        </global_entry>
      </global>
      <initrd_modules config:type="list">
        <initrd_module>
          <module>reiserfs</module>
        </initrd_module>
      </initrd_modules>
      <loader_device>__ROOTDISK__</loader_device>
      <loader_type>grub</loader_type>
      <location>mbr</location>
      <repl_mbr config:type="boolean">false</repl_mbr>
      <sections config:type="list">
        <section config:type="list">
          <section_entry>
            <key>title</key>
            <value>Linux</value>
          </section_entry>
          <section_entry>
            <key>kernel</key>
            <value>(hd0,1)/boot/vmlinuz __BOOTARGS__ root=__ROOTPART__2 resume=__ROOTPART__1 splash=silent elevator=cfq showopts</value>
          </section_entry>
          <section_entry>
            <key>initrd</key>
            <value>(hd0,1)/boot/initrd</value>
          </section_entry>
        </section>
        <section config:type="list">
          <section_entry>
            <key>title</key>
            <value>Failsafe</value>
          </section_entry>
          <section_entry>
            <key>kernel</key>
            <value>(hd0,1)/boot/vmlinuz root=__ROOTPART__2 showopts ide=nodma apm=off acpi=off vga=normal noresume selinux=0 barrier=off iommu=noforce  3</value>
          </section_entry>
          <section_entry>
            <key>initrd</key>
            <value>(hd0,1)/boot/initrd</value>
          </section_entry>
        </section>
      </sections>
    </bootloader>
    <general>
      <clock>
        <hwclock>UTC</hwclock>
        <timezone>__TIMEZONE__</timezone>
      </clock>
      <keyboard>
        <keymap>__KEYMAP__</keymap>
      </keyboard>
      <language>__LANG__</language>
      <mode>
        <confirm config:type="boolean">false</confirm>
      </mode>
    </general>
    <partitioning config:type="list">
      <drive>
        <device>__ROOTDISK__</device>
        <partitions config:type="list">
          <!-- need swap to come first as auto in sle9 -->
          <partition>
            <filesystem config:type="symbol">swap</filesystem>
            <create config:type="boolean">true</create>
            <format config:type="boolean">true</format>
            <mount>swap</mount>
            <partition_id config:type="integer">130</partition_id>
            <partition_nr config:type="integer">1</partition_nr>
            <size>auto</size>
          </partition>
          <partition>
            <filesystem config:type="symbol">reiserfs</filesystem>
            <create config:type="boolean">true</create>
            <format config:type="boolean">true</format>
            <mount>/</mount>
            <partition_id config:type="integer">131</partition_id>
            <partition_nr config:type="integer">2</partition_nr>
            <size>max</size>
          </partition>
        </partitions>
        <use>all</use>
      </drive>
    </partitioning>
    <report>
      <errors>
        <log config:type="boolean">true</log>
        <show config:type="boolean">true</show>
        <timeout config:type="integer">0</timeout>
      </errors>
      <messages>
        <log config:type="boolean">true</log>
        <show config:type="boolean">true</show>
        <timeout config:type="integer">0</timeout>
      </messages>
      <warnings>
        <log config:type="boolean">true</log>
        <show config:type="boolean">true</show>
        <timeout config:type="integer">0</timeout>
      </warnings>
      <yesno_messages>
        <log config:type="boolean">true</log>
        <show config:type="boolean">true</show>
        <timeout config:type="integer">0</timeout>
      </yesno_messages>
    </report>
    <software>
      <addons config:type="list">
        <addon>auth</addon>
        <addon>Base-System</addon>
        <addon>YaST2</addon>
      </addons>
      <base>Minimal</base>
      <packages config:type="list">
        <package>curl-32bit</package>
      </packages>
    </software>
  </install>
</profile>
